version: "3.9"

services:
  app:
    build: .
    container_name: python_app
    env_file:
      - .env
    depends_on:
      mysql:
        condition: service_healthy
    stdin_open: true
    tty: true
    command: ["python", "backend/main.py"]
    volumes:
      - .:/app

  mysql:
    image: mysql:8
    container_name: mysql_local
    environment:
      MYSQL_ROOT_PASSWORD: reservasalasucu2025_facundo_marcos
      MYSQL_DATABASE: obligatorio_bdd
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./db:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-hmysql", "-uroot", "-p1234"]
      interval: 5s
      timeout: 10s
      retries: 10
      start_period: 10s

volumes:
  mysql_data: